* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8; 
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    background-color: #1F2937;
    padding: 16px;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 1000px;
}

.links {
    display: flex;
    gap: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    max-width: 1000px;
    margin-top: 6vw;
    margin-bottom: 6vw;
    gap: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 50%;
}

.signup-button {
    border: 0;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    gap: 30px;
}

.information-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information-elements {
    display: flex;
    justify-content: center;
    width: 70vw;
    max-width: 875px;
    gap: 30px;
    margin-bottom: 4vw;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 160px;
    gap: 6px;
    text-align: center;
}

.element-figure {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.element-text {
    color: #777777;
    font-weight: 600;
    font-size: 14px;
}